body {
  font: 13px Helvetica, Arial;
}
.footer {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.header {
  margin: 10px;
  padding-left: 10px;
  font-size: 100px;
  background: #eee;
}
.reset {
  width: 100%;
  font-size: 50px!important;
}
.lap-count {
  padding-left: 10px;
  background: #eee;
  font-size: 100px;
}
.name {
  padding-left: 10px;
  background: #eee;
  font-size: 80px;
}
.laps {
  list-style-type: none;
}
.laps .lap {
  font-size: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.laps .lap:nth-child(even) {
  background: #eee;
}
.leader {
  background: red;
}
.driver-container {
  margin-top: 10px;
}