body {
  font: 13px Helvetica, Arial;
}
.footer {
  margin-right: 0px!important;
  margin-left: 0px!important;
  padding-bottom: 3px;
  padding-top: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.header {
  margin: 10px;
  padding-left: 10px;
  font-size: 75px;
  background: #eee;
}
.big {
  font-size: 40px!important;
  width: 100%;
}
.lap-count {
  padding-left: 10px;
  font-size: 75px;
}
.grey {
  background: #eee;
}
.name {
  padding-left: 10px;
  background: #eee;
  font-size: 60px;
}
.name-highlight {
  background: #990033!important;
  color: white;
}
.laps {
  list-style-type: none;
}
.laps .lap {
  font-size: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.laps .lap:nth-child(even) {
  background: #eee;
}
.leader {
  background: red;
}
.driver-container {
  margin-top: 10px;
}
.link {
  font-size: 33px;
}
.status {
  font-size: 33px;
}
.driver-switch {
  cursor: pointer;
  padding-top: 25px;
  padding-right: 10px;
  font-size: 50px;
}