<div>
  <div class="link">
    <a href="#/">Back</a>
  </div>
  
  <form novalidate class="form">
    <div class="form-group" ng-repeat="player in setup.players">
      <label ng-attr-for="{{ 'name' + $index }}">Player {{$index + 1}}</label>
      <input type="text" class="form-control" ng-attr-id="{{ 'name' + $index }}" placeholder="Player name" ng-model="setup.players[$index].name">
    </div>
    <button type="submit" class="btn btn-default" ng-click="setup.update()">Save</button>
  </form>

  <div class="status">{{setup.status}}</div>

</div>
